/* mini-reset */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
img {
	max-width: 100%;
}

/* mini-grid */
li {
	display: inline-block;
	padding: 16px;
	vertical-align: top;
}
.one-third {
	width: 33.333%;
	background-color: #c0c0c0;
}
.two-thirds {
	width: 66.667%;
	background-color: #d5d5d5;
}

@media (max-width: 600px) {
	.one-third, .two-thirds {
		width: 100%;
	}
}


/* center content with max-width */
.corset {
	max-width: 1000px;
	margin: 0 auto;
}